Binaries
DerivedDataCache
Intermediate
Saved
Build
.idea
Content/Assets/
Content/Collections/
Content/Developers/

.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace